/* Add a black background color to the top navigation */
.topnav {
    background-color: #333333;
    overflow: hidden;
    margin: -8px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: hsl(0, 0%, 95%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 14%;
    font-size: 21px;
    border-radius: 3px;
    border-radius: 4px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: hwb(0 87% 13%);
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}